/* You can add global styles to this file, and also import other style files */
@import "./assets/theme/variables.scss";
@import "./assets/theme/fonts.scss";

@font-face {
    font-family: "Ubuntu_bold";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu_bold"), url("./assets/fonts/ubuntu_ssv/Ubuntu-Bold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu_light";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu_light"), url("./assets/fonts/ubuntu_ssv/Ubuntu-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu_regular";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu_regular"), url("./assets/fonts/ubuntu_ssv/Ubuntu-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu_medium";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu_medium"), url("./assets/fonts/ubuntu_ssv/Ubuntu-Medium.ttf");
    font-display: swap;
}

@mixin position($pos) {
    position: $pos;
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin wh-transition($width, $height) {
    width: $width !important;
    height: $height !important;
}

body,
html {
    font-family: Ubuntu_regular !important;
    --background: var(--white-background);
    ion-card {
        --background: var(--white-background) !important;
    }
}

h1 {
    font-family: Ubuntu_regular !important;
    font-weight: 500 !important;
    font-size: 1.5em !important;
    color: var(--slider-top);
}
p {
    font-family: var(--ion-default-font);
}
*:focus {
    outline: none !important;
}
h2 {
    font-size: 1em;
    font-weight: 500;
    color: var(--slider-top);
}
.h6 {
    color: var(--header-labels);
    font-weight: 400;
}
// color lite for input type text placeholder
input[type="text"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b6b6b6;
}
input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #b6b6b6;
}
input[type="text"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #b6b6b6;
}
input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: #b6b6b6;
}

// color lite for input type password placeholder
input[type="password"]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b6b6b6;
}
input[type="password"]::-moz-placeholder {
    /* Firefox 19+ */
    color: #b6b6b6;
}
input[type="password"]:-ms-input-placeholder {
    /* IE 10+ */
    color: #b6b6b6;
}
input[type="password"]:-moz-placeholder {
    /* Firefox 18- */
    color: #b6b6b6;
}
input.form-control.ng-dirty.ng-invalid {
    border: solid 1px var(--text-danger) !important;
    background-color: var(--white-background) !important;
    -webkit-box-shadow: var(--none) !important;
    -ms-box-shadow: var(--none) !important;
    box-shadow: var(--none) !important;
}

.text-danger {
    color: var(--text-danger) !important;
}
.text-danger > small {
    position: relative !important;
}
.error-message {
    position: relative !important;
}
button:disabled, button[disabled] {
    border: 1px solid #999999 !important;
    background-color: #0062cc4a !important;
    color: #fff !important;
}
.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
  }
  
  .register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
  }
  
  .register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }
  
  .register-left {
    img {
      margin-top: 15%;
      margin-bottom: 5%;
      width: 25%;
      -webkit-animation: mover 2s infinite  alternate;
      animation: mover 1s infinite  alternate;
    }
  
    p {
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
    }
  }
  
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-20px);
    }
  }
  
  .register .register-form {
    padding: 10%;
    margin-top: 10%;
  }
  
  .btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
  }
  
  .register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
  
    .nav-link {
      padding: 2%;
      height: 34px;
      font-weight: 600;
      color: #fff;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
  
      &:hover {
        border: none;
      }
  
      &.active {
        width: 100px;
        color: #0062cc;
        border: 2px solid #0062cc;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
      }
    }
  }
  
  .register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
  }